@font-face {
  font-family: 'Almendra';
  src: url('/assets/Almendra.ttf') format('truetype');
}

.card-padding {
  padding: 16px;
}

.form-margin-top {
  margin-top: 10%;
}

.container-fluid {
  font-family: 'Almendra' !important;
}
