<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <form [formGroup]="formGroup" class="form-margin-top">
            <div class="card text-white bg-dark mb-3">
              <div class="card-header text-center">
                <h3> Alaunt - A new rising </h3>
              </div>
              <div class="card-body card-padding">
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" placeholder="Enter your desired username" formControlName="username">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input type="password" class="form-control" placeholder="Enter a secure password" formControlName="password">
                </div>
                <div class="form-check">
                  <input type="checkbox" formControlName="rememberMe">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
              </div>
              <div class="card-footer card-padding text-right">
                <button type="submit" class="btn btn-default" (click)="onCreateAccount()">Create account</button>
                <button type="submit" class="btn btn-primary" (click)="onLoginClick()">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
