<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <button class="menu-button pure-button" (click)="onNavClick('home')">Home</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('building')">Buildings</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('army')">Army</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('research')">Research</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('market')">Market</button>
    </div>
    <hr>
    <div class="col-lg-12 button-padding"></div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('unit')">Units</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('guild')">Guild</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('espionage')">Espionage</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('colonize')">Colonize</button>
    </div>
    <div class="col-lg-12 button-padding"></div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('map')">Map</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('statistic')">Statistics</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('message')">Messages</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('account')">Account</button>
    </div>
    <div class="col-lg-12 button-padding">
      <button class="menu-button pure-button" (click)="onNavClick('tutorial')">Tutorial</button>
    </div>
  </div>
</div>
