.logo-image {
  width: 120px;
}

.small-icon {
  width: 35px;
}

.padding-left {
  padding-left: 30px;
}

.white {
  color: #fff;
}

.wrp {
  position: absolute;
  top: 50px;
  border-radius: 2px;
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 500;
  color: #000;
  background-color: beige;
}
